<p id="notice"><%= notice %></p>

<div class="container"> 
  <h1>Emails</h1>
  <%= link_to 'Envoyer un email', emails_path, method: :post, remote: true %>
</div>

<div class="row p-5">
  <table class="table table-striped table-dark col-6 ">
    <thead>
      <tr>
        <th scope="col">Liste des emails</th>
        <th scope="col">Email selectionne</th>
    
      </tr>
    </thead>
    <tbody>
    <% @emails.each do |email| %>
        <tr>
            <% if email.read == false %>
              <td id=<%=email.id%>><%= link_to email.object, email_path(email.id), remote: true %></td>
            <% else %>
              <td id=<%=email.id%>><%= link_to email.object, email_path(email.id), class: "text-white", remote: true %></td>
            <% end %>  
        </tr>
      <% end %>  
    </tbody>
  </table>

</div>
<br>

<%= link_to 'New Email', new_email_path %>
